################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MITFC.Eth.Wallet/bin/Debug/Geth/MITFC/geth/chaindata
